section
{
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
    align-items: center;

    color: rgb(75,75,75);
}

#blocConnection
{
	margin: 40px;
	padding: 20px;
	border: 1px solid rgb(175,175,175);
	border-radius: 7px;
	box-shadow: 0px 0px 2px rgb(175,175,175);
}

#blocConnection h2
{
	text-align: center;

	padding: 0px;
	font-size: 2em
}

#blocConnection input
{
	font-size: 1em;
}

#submit
{
	width: 100%;
}
