article
{
	background-color: rgb(230,230,230);
	margin: 0px 0px 0px 3px;
	padding: 5px;

	border-top: 1px solid rgba(150,150,150,0.5);
	border-bottom: 1px solid rgba(150,150,150,0.5);
	border-left: 2px solid rgba(150,150,150,0);
	border-right: 2px solid rgba(150,150,150,0);

	display: flex;
	flex-direction: column;
}

article:hover
{
	border-top: 1px solid rgba(150,150,150,1);
	border-bottom: 1px solid rgba(150,150,150,1);
	border-left: 2px solid rgba(150,150,150,0.7);
	border-right: 2px solid rgba(150,150,150,0.7);
	background-color: rgb(235,235,235);
}

.task_Resume
{
	width: 100%;
	display: flex;

	height: 40px;
}

.task_Name
{
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 5px;

	font-size: 1.2em;
}

.Space_Between
{
	flex: 1;
}
.task_Crea
{
	display: none;
	justify-content: center;
	align-items: center;

	margin: 5px;

	font-size: 0.8em;
	color: rgb(100,100,100);
}

.task_Devlop
{
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 5px;

}

.task_Devlop img
{
	height: 20px;
}

.task_MoreInfo
{
	display: none;
}

.task_Desc
{
	background-color: rgb(245,245,245);
	border: 1px solid rgb(150,150,150);
	flex: 1;
	
	margin-right: 40px;
	padding: 10px;
}

.task_Client
{
	display: none;
	background-color: rgb(245,245,245);
	border: 1px solid rgb(150,150,150);
	margin-right: 20px;
}

.task_Client p
{
	background-color: rgb(150,150,150);
	text-align: center;
	margin: 0px;
	padding: 3px;
}
.task_Client ul
{
	margin: 5px;
	padding: 2px;
}
.task_Client li
{
	list-style-type: none;
	margin: 5px;
}



.task_Setting
{
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
}

.task_Setting a
{

}

.task_Setting img
{
	width: 40px;
}