html
{
	background-image: url('http://moirtin/img/fond_Light1.png');
	margin: 0px;
}

body
{
	margin: 0px;
}

section
{
	width: 70%;
	min-width: 500px;
	margin: auto;
	margin-top: 70px;
	padding: 10px;
	
	background-color: rgba(0,0,0,0.1);

	/*border: solid 5px rgb(30, 30, 30);*/
	border-radius: 15px;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
}

#Error
{
	
	margin: auto;
	margin-top: 10px;
	border-radius: 0px;

	display: flex;
  	justify-content: space-between;

  	background-color: rgba(30,30,30,1);
  	color: white;
}

#Error .imgBox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
#Error img
{
	display: block;
	height: 70px;
}

#ErrorText
{
	display: flex;
	flex-direction: column;
  	justify-content: space-between;
}

#ErrorText p
{
	text-align: center;
	margin: 5px;
	font-size: 1.3em;
}

section h1
{
	margin:0px;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

article
{
	display: flex;
	flex-wrap: wrap;
  	justify-content: space-around;
}

article .AppBox
{
	margin: 10px;

	width: 300px;
	height: 200px;


	border: 3px solid rgb(20,20,20);
	box-shadow: 5px 5px 15px rgb(150,150,150,0.7);
	border-radius: 15px;
	background-color: white;

	display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

article .AppBox:hover
{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
}

a
{
	text-decoration: none;
}

article .AppBox p
{	
	text-align: center;
	font-size: 3.5em;
	font-weight: bold;
	color: rgb(20,20,20);

	background-color: rgba(255,255,255,0.2);
	border:none;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(255,255,255,0.2);
	padding: 5px;

	overflow :hidden;
}

@media (prefers-color-scheme: dark)
{
	html
	{
		background-image: url('http://moirtin/img/fond_Dark1.png');
	}
	section
	{
		background-color: rgba(255,255,255,0.1);
		box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.1);
	}
	#Error
	{
		background-color: rgba(230,230,230,1);
		color: black;
	}
	article .AppBox
	{
		background-color: black;
		box-shadow: 5px 5px 15px rgb(0,0,0,0.7);
	}
	article .AppBox:hover
	{
		box-shadow: 0px 0px 20px rgba(150,150,150,0.7);
	}
}