<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/Connexion(/.*)?" module="User" action="Connection" />
  <route url="/Deconnexion(/.*)?" module="User" action="Disconnection" />
  <route url="/Setting\??.*" module="User" action="Configuration" />
  <route url="/NewUser(/.*)?" module="User" action="New" />
  <route url="/User(/.*)?" module="User" action="ShowAll" />
  <route url="/NewTask(/.*)?" module="Task" action="New" />
  <route url="/EditTask\??.*" module="Task" action="Edit" />
  <route url="/TaskCompleted(/.*)?" module="Task" action="Completed" />
  <route url="(/.*)?" module="Task" action="Current" />
</routes>